<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PAN Validation</title>
  </head>
  <body>
    <form action="/validate" method="POST">
      <label for="">Enter PAN Number: </label> <br /><br />
      <input type="text" name="PANnumber" id="pan" /><br /><br />
      <input type="submit" />
    </form>
  </body>
</html>
